:root {
    /* Background colors for the app */
    --bg-dark: rgba(11, 11, 9, 1);
    --bg-light: rgba(247, 245, 243, 1);
    --bg-info: rgba(129, 198, 239, 1);
    --bg-primary: rgba(0, 167, 225, 1);
    --bg-secondary: rgba(17, 60, 85, 1);
    --bg-warning: rgba(241, 164, 106, 1);
    /* Text colors for the app */
    --text-dark: rgba(11, 11, 9, 1);
    --text-light: rgba(247, 245, 243, 1);
    --text-info: rgba(129, 198, 239, 1);
    --text-primary: rgba(0, 167, 225, 1);
    --text-secondary: rgba(17, 60, 85, 1);
    --text-warning: rgba(241, 164, 106, 1);
    /* Display settings */
    --display-flex: flex;
    --display-block: block;
    /* Flexbox settings */
    /* Flexbox wrap */
    --flex-wrap: wrap;
    --flex-nowrap: nowrap;
    /* Flexbox directions */
    --flex-row: row;
    --flex-column: column;
    /* Justify content in the flexbox */
    --justify-content-center: center;
    --justify-content-flex-start: flex-start;
    --justify-content-flex-end: flex-end;
    --justify-content-space-between: space-between;
    --justify-content-space-around: space-around;
    --justify-content-space-evenly: space-evenly;
    /* Align Items in the flexbox */
    --align-item-center: center;
    --align-item-flex-start: flex-start;
    --align-item-flex-end: flex-end;
    --aling-item-stretch: stretch;
    --align-item-baseline: baseline;
    /* Align Content in the flexbox */
    --align-content-center: center;
    --align-content-flex-start: flex-start;
    --align-content-flex-end: flex-end;
    --align-content-space-between: space-between;
    --align-content-space-around: space-around;
    --align-content-stretch: stretch;
    --align-content-space-evenly: space-evenly;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica;
}

.container {
    margin: 0;
    padding: 0;
    background-color: #f7f7ff;
}

.container.flex-center {
    width: 100vw;
    height: 100vh;
    display: var(--display-flex);
    justify-content: var(--justify-content-center);
    align-items: var(--align-item-center);
    flex-wrap: var(--flex-wrap);
}

.container.flex-row {
    width: 100vw;
    height: 100vh;
    display: var(--display-flex);
    flex-direction: var(--flex-row);
    flex-wrap: var(--flex-nowrap);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.container .login-box {
    width: 456px;
}

.container .login-box .login-header {
    display: var(--display-block);
    justify-content: var(--justify-content-center);
    font-size: 22px;
}

.container .login-box .login-header .header-group {
    display: var(--display-flex);
    justify-content: var(--justify-content-center);
    font-size: 22px;
    margin-bottom: 30px;
}

.container .login-box .login-header i {
    color: var(--text-primary);
    margin-right: 10px;
}

.container .login-box .login-header h4 {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.container .login-box .login-header .header-text {
    text-align: center;
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 0;
}

.container .login-box .login-body {
    background-color: #ffffff;
    padding: 40px;
}

.container .login-box .login-body .info-box {
    background-color: var(--bg-info);
    display: var(--display-flex);
    justify-content: var(--justify-content-center);
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem !important;
}

.container .login-box .login-body .form-group {
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    width: 100%;
    margin-bottom: 10px;
}

.container .login-box .login-body .form-group .label-group {
    display: var(--display-flex);
    justify-content: var(--justify-content-space-between);
    margin-bottom: 5px;
}

.container .login-box .login-body .form-group .label-group label {
    margin-bottom: 5px;
}

.container .login-box .login-body .form-group .label-group a {
    text-decoration: none;
}

.container .login-box .login-body .form-group .input-group {
    display: var(--display-flex);
    flex-wrap: var(--flex-nowrap);
    background-color: rgba(230, 235, 245, .25) !important;
    border-radius: .4rem !important;
}

.container .login-box .login-body .form-group .input-group> :not(:first-child) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.container .login-box .login-body .form-group .input-group .input-icon {
    padding: .5rem 1rem;
    background-color: #f5f7fb;
    color: #7a7f9a;
    border: 1px solid #e6ebf5;
    border-radius: .25rem;
}

.container .login-box .login-body .form-group .input-group .form-control {
    flex: 1 1 auto;
    padding: .5rem 1rem;
    width: 1%;
    background-color: rgba(230, 235, 245, .25) !important;
    border-color: #e6ebf5 !important;
    background-clip: padding-box;
    display: block;
    font-weight: 400;
    appearance: none;
    border: 1px solid #e6ebf5;
}

.container .login-box .login-body .form-check {
    display: block;
    min-height: 1.40625rem;
    margin: 25px 0;
}

.container .login-box .login-body .form-check .form-check-input {
    cursor: pointer;
}

.container .login-box .login-body .form-group .btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .5rem 1rem;
    font-size: .9375rem;
    border-radius: .25rem;
    border: 1px solid transparent
}

.container .login-box .login-body .form-group .btn.btn-sign-in {
    color: #fff;
    background-color: var(--text-primary);
    border-color: var(--text-primary);
}

.container .login-box .login-footer {
    display: var(--display-flex);
    padding: 35px 0 20px 0;
    justify-content: var(--justify-content-center);
}


/* Here starts the styling for the chat application */

.header {
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    justify-content: var(--justify-content-space-between);
    align-items: var(--align-item-center);
    padding: 1rem 0;
    background-color: rgba(11, 11, 9, .8);
    min-width: 75px;
    max-width: 75px;
}

.header .icon {
    color: var(--text-primary);
    font-size: 30px;
}

.header .navbar .navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .navbar .navbar-nav .nav-item {
    display: var(--display-block);
    margin-bottom: 1.25rem;
}

.header .navbar .navbar-nav .nav-item .nav-link {
    color: rgba(247, 245, 243, .75);
    text-decoration: none;
    display: var(--display-block);
    padding: .7rem;
    font-size: 30px;
    text-align: center;
    border-radius: .5rem;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(247, 245, 243, .25);
}

.header .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: rgba(247, 245, 243, .25);
}

.header .profile-menu {
    display: var(--display-block);
}

.header .profile-menu i {
    color: rgba(247, 245, 243, .75);
    text-decoration: none;
    display: var(--display-block);
    padding: .7rem;
    font-size: 30px;
    text-align: center;
    border-radius: .5rem;
}

.header .profile-menu i:hover {
    background-color: rgba(247, 245, 243, .25);
}

.header .profile-menu i:active {
    background-color: rgba(247, 245, 243, .25);
}


/* Here starts the views from the menu. */

.menu-views {
    min-width: 380px;
    max-width: 380px;
    background-color: rgba(11, 11, 9, .85);
    padding: 1.5rem 1rem !important;
}

.menu-views .page {}

.menu-views .page.hide {
    display: none;
}

.menu-views .headline {
    margin: 0;
    padding: 0;
    font-size: calc(1.26563rem + .1875vw);
    font-weight: 600;
    color: rgba(247, 245, 243, .75);
}

.menu-views form {
    margin-bottom: 1.5rem;
    display: var(--display-block);
}

.menu-views .search-box {
    display: var(--display-flex);
    border-radius: .25rem !important;
    margin-top: 1.5rem;
}

.menu-views .search-box .icon i {
    padding: .85rem .85rem;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(247, 245, 243, .25);
    color: rgba(247, 245, 243, .75);
    border-radius: .25rem 0 0 .25rem !important;
}

.menu-views .search-box .form-control {
    flex: 1 1 auto;
    background-color: rgba(247, 245, 243, .25);
    color: rgba(247, 245, 243, .75);
    border: none;
    font-size: 16px;
    border-radius: 0 .25rem .25rem 0 !important;
    outline: none;
}

.menu-views .row {
    padding: 1.5rem 0 0 0;
    display: var(--display-flex);
    flex-direction: var(--flex-row);
    flex-wrap: var(--flex-nowrap);
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.25s ease 0s;
    width: auto;
    position: relative;
    touch-action: manipulation;
}

.menu-views .flex-row {
    padding: 1.5rem 0 0 0;
    display: var(--display-flex);
    flex-direction: var(--flex-row);
    justify-content: var(--justify-content-center);
    flex-wrap: var(--flex-wrap);
    align-content: var(--align-content-center);
    align-items: var(--align-item-center);
    width: 100%;
    border-bottom: 1px solid rgba(230, 235, 245, .25);
}

.menu-views .flex-row .profile-picture {
    width: 90px;
    height: auto;
    border-radius: 45px;
}

.menu-views .flex-row .profile-name {
    width: 100%;
    margin: 2rem 0 .5rem 0;
    color: rgba(247, 245, 243, .75);
    text-align: center;
}

.menu-views .flex-row .status {
    color: rgba(247, 245, 243, .75);
    font-weight: 600;
    margin-bottom: 2rem;
}

.menu-views .flex-row .status i {
    margin-right: 10px;
}

.menu-views .flex-row .status i.online {
    color: lime;
}

.menu-views .flex-row .status i.offline {
    color: crimson;
}

.menu-views .profile-text {
    color: rgba(247, 245, 243, .75);
    margin: 1.5rem 0 1.5rem 0;
}

.menu-views .dropdown {
    display: var(--display-flex);
    justify-content: var(--justify-content-space-between);
    align-items: var(--align-item-center);
    color: rgba(247, 245, 243, .75);
    border: thin solid rgba(11, 11, 9, .5);
    padding: .75rem 1rem;
    border-radius: .25rem;
    background-color: rgba(11, 11, 9, .5);
    margin: 0 0 1rem 0;
    cursor: pointer;
}

.menu-views .dropdown.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.menu-views .dropdown .dropdown-group i {
    margin-right: 10px;
}

.menu-views .dropdown-box {
    display: none;
}

.menu-views .dropdown-box.show {
    display: block;
    border: thin solid rgba(11, 11, 9, .5);
    color: rgba(247, 245, 243, .5);
    margin-top: -1rem;
    margin-bottom: 1rem;
    border-top: none;
    transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    padding: 1rem;
}

.menu-views .dropdown-box .box-group {
    margin-bottom: 1rem;
    display: var(--display-flex);
    flex-direction: var(--flex-column);
}

.menu-views .dropdown-box .box-group:last-child {
    margin-bottom: 0;
}

.menu-views .dropdown-box .box-group .group-text {
    color: rgba(247, 245, 243, 1);
    margin-top: 5px;
}

.menu-views .row::before,
.menu-views .row::after {
    box-sizing: border-box;
}

.menu-views .row .user-item {
    width: 71px;
    margin-right: 16px;
    background-color: rgba(247, 245, 243, .25);
    border-radius: .5rem;
    padding: 1.5rem .5rem;
    display: var(--display-flex);
    justify-content: var(--justify-content-center);
    touch-action: pan-y;
    float: left;
    min-height: 1px;
    position: relative;
    user-select: none;
}

.menu-views .row .user-item::after,
.menu-views .row .user-item::before {
    box-sizing: border-box;
}

.menu-views .row .user-item:last-child {
    margin-right: 0;
}

.menu-views .row .user-item img {
    width: 50px;
    height: auto;
    margin-top: -50px;
    margin-left: 0px;
    position: absolute;
}

.menu-views .row .user-item .user-text {
    margin-top: 0px;
    display: block;
    position: absolute;
    text-align: center;
    color: var(--text-light);
    margin-left: 0;
    font-size: 14px;
    font-weight: 600;
}

.menu-views .recent {
    margin: 0;
    color: rgba(247, 245, 243, .75);
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: var(--display-block);
}

.menu-views .chats {
    padding: 0;
    width: 364px;
    bottom: 1.5rem !important;
    overflow-y: auto;
    top: 261.2px;
    bottom: 24px;
    position: fixed;
}

.menu-views .chats .chats-item {
    width: 100%;
    display: var(--display-flex);
    flex-wrap: var(--flex-nowrap);
    border-radius: .25rem;
    color: rgba(247, 245, 243, .75);
    padding: .5rem;
    justify-content: var(--justify-content-space-between);
}

.menu-views .chats .chats-item:hover {
    background-color: rgba(247, 245, 243, .75);
}

.menu-views .chats .chats-item:hover .item-group .fullname {
    color: var(--text-dark);
}

.menu-views .chats .chats-item .online-indicator {
    width: 6px;
    margin-right: 5px;
    border-radius: 3px;
}

.menu-views .chats .chats-item .online-indicator.online {
    background-color: lime;
}

.menu-views .chats .chats-item .online-indicator.offline {
    background-color: crimson;
}

.menu-views .chats .chats-item img {
    width: 50px;
    height: auto;
}

.menu-views .chats .chats-item .item-group {
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    flex: 1 1;
    padding: 0 .5rem;
}

.menu-views .chats .chats-item .item-group .fullname {
    color: var(--text-light);
    padding: .25rem 0;
}

.menu-views .chats .chats-item .item-group .last-message {
    padding: .25rem 0;
}

.menu-views .chats .chats-item .online-time {
    display: var(--display-flex);
    align-items: var(--align-item-flex-start);
    justify-content: var(--justify-content-flex-end);
    padding: .25rem 0;
    font-size: 12px;
}


/* Here we are making the styling for the chat window */

.chat-window {
    background-color: rgba(11, 11, 9, .9);
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    flex: 1;
}

.chat-window .chat-header {
    border-bottom: 1px solid rgba(247, 245, 243, .5);
    padding: 1.5rem 1.5rem;
    display: var(--display-flex);
    justify-content: var(--justify-content-space-between);
    align-items: var(--align-item-center);
    top: 0;
    right: 0;
    left: 455px;
    position: fixed;
}

.chat-window .chat-header .header-profile {
    display: var(--display-flex);
    align-items: var(--align-item-center);
}

.chat-window .chat-header .header-profile img {
    width: 40px;
    height: auto;
}

.chat-window .chat-header .header-profile .profile-name {
    color: var(--text-light);
    margin-left: 1rem;
}

.chat-window .chat-header .header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-window .chat-header .header-menu .menu-item {
    display: inline-block;
}

.chat-window .chat-header .header-menu .menu-item i {
    color: rgba(247, 245, 243, .75);
    padding: 0 1rem;
    font-size: 18px;
    cursor: default;
}


/* Here are we making the styling for the chat body / the main chat window */

.chat-window .chat-body {
    top: 89px;
    bottom: 87.4px;
    right: 0;
    left: 455px;
    position: fixed;
    overflow-y: auto;
    display: var(--display-flex);
    flex-direction: var(--flex-column);
}

.chat-window .chat-body .chat-item {
    width: 50%;
    margin: 1.5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.chat-window .chat-body .chat-item.left {
    align-self: flex-start;
    background-color: var(--bg-primary);
}

.chat-window .chat-body .chat-item.right {
    align-self: flex-end;
    background-color: var(--bg-secondary);
    color: var(--text-warning);
}

.chat-window .chat-body .chat-item .message {
    color: rgba(247, 245, 243, .75);
    padding: 1.5rem 1.5rem;
    display: var(--display-flex);
    flex-wrap: var(--flex-wrap);
    word-wrap: break-word;
    word-break: break-all;
}

.chat-window .chat-body .chat-item .message-from {
    display: var(--display-flex);
    justify-content: var(--justify-content-space-between);
    align-items: var(--align-item-center);
    padding: .5rem 1.5rem;
    border-top: 1px solid rgba(247, 245, 243, .75);
}

.chat-window .chat-body .chat-item .message-from .message-info {
    display: flex;
    align-items: var(--align-item-center);
}

.chat-window .chat-body .chat-item .message-from .message-info img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.chat-window .chat-body .chat-item .message-from .time {
    display: var(--display-flex);
    align-items: var(--align-item-center);
}

.chat-window .chat-body .chat-item .message-from .time i {
    margin-right: 5px;
    display: var(--display-block);
}


/* Here are we making the styling for the chat footer */

.chat-window .chat-footer form {
    padding: 1.5rem 1.5rem;
    display: var(--display-flex);
    flex-direction: var(--flex-row);
    border-top: 1px solid rgba(247, 245, 243, .5);
    bottom: 0;
    right: 0;
    left: 455px;
    position: fixed;
}

.chat-window .chat-footer form .form-control {
    outline: none;
    background-color: rgba(11, 11, 9, .7);
    border-color: rgba(11, 11, 9, .7);
    border: none;
    border-radius: .5rem;
    color: rgba(247, 245, 243, .75);
    padding: .7rem 1rem;
    width: 100%;
    margin-right: .5rem;
}

.chat-window .chat-footer form .btn {
    padding: 0 1rem;
    background-color: transparent;
    border: none;
    color: rgba(247, 245, 243, .75);
    font-size: 18px;
    border-radius: .3rem;
    text-align: center;
}

.chat-window .chat-footer form .btn.active {
    border: 1px solid var(--bg-primary);
}

.chat-window .chat-footer form .btn {
    margin-right: .5rem;
    cursor: pointer;
}

.chat-window .chat-footer form .btn.btn-send {
    background-color: var(--bg-primary);
}