<div class="page">
    <div class="headline-group">
        <h4 class="headline">{{ChatroomName}}</h4>
        <button type="button" class="fa fa-user-plus btn btn-edit" id="add" (click)="showForm()"></button>
        <form #myform="ngForm" class="account-form" id="add-account">
            <section class="form-group" id="add-users">
                <label>Select user to add</label>
                <select name="accounts" class="form-control" (change)="selectChangeHandler($event)">
                    <option>Select Account to invite...</option>
                    <option *ngFor="let account of accounts" value="{{account.account_id}}">{{account.username}}</option>
                </select>
            </section>
            <button type="button" class="btn btn-update" (click)="assignAccount(myform)">Add Account</button>
        </form>
    </div>
    <div class="flex-row"></div>
    <div class="chats" id="onlinelist">
        <section class="chats-item" *ngFor="let member of members">
            <section class="online-indicator" [ngClass]="{'online':member.Online_Status === '1', 'offline':member.Online_Status !== '1'}"></section>
            <img src="assets/img/NoImage.png" />
            <div class="item-group">
                <span class="fullname">{{ member.Username }}</span>
                <span class="last-message">{{ChatroomName}}</span>
            </div>
            <section class="online-time"></section>
        </section>
    </div>
</div>