<div class="container flex-row">
    <header class="header">
        <span class="icon">
      <i class="fa fa-comments"></i>
    </span>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link" id="profileShow" data-launch-view="profile"><i class="fa fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="chatroomShow" data-launch-view="chatrooms"><i class="fa fa-commenting"></i
          ></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="onlineShow" data-launch-view="users"><i class="fa fa-users"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="updateShow" data-launch-view="update"><i class="fa fa-address-book"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="settingShow" data-launch-view="settings"><i class="fa fa-gear"></i></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/logout" class="nav-link"><i class="fa fa-sign-out"></i
          ></a>
                </li>
            </ul>
        </nav>
        <span class="profile-menu">
      <i class="fa fa-photo"></i>
    </span>
    </header>
    <aside class="menu-views">
        <div class="page" id="users">
            <h4 class="headline">Chats</h4>
            <form action="#" method="post">
                <div class="search-box">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="text" name="" id="" class="form-control" placeholder="Search messages or users" />
                </div>
            </form>
            <div class="row">
                <span class="user-item" *ngFor="let a of accounts | slice: 0:4">
          <img src="assets/img/NoImage.png" alt="" />
          <span class="user-text">{{ a.username }}</span>
                </span>
            </div>
            <h5 class="recent">Recent</h5>
            <div class="chats" id="onlinelist">
                <section class="chats-item" *ngFor="let e of accounts">
                    <section class="online-indicator"></section>
                    <img src="assets/img/NoImage.png" />
                    <div class="item-group">
                        <span class="fullname">{{ e.username }}</span>
                        <span class="last-message">Something from the chat!</span>
                    </div>
                    <section class="online-time"></section>
                </section>
            </div>
        </div>
        <div class="page hide" id="chatrooms">
            <h4 class="headline">Rooms</h4>
            <form action="#" method="post">
                <div class="search-box">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="text" name="" id="" class="form-control" placeholder="Search messages or users" />
                </div>
            </form>
            <p>
                Chatrooms will be available in a future update.
            </p>

        </div>
        <div class="page hide" id="settings">
            <h4 class="headline">Security Settings</h4>
            <p>
                Account security can be set here in future update.
            </p>

        </div>
        <div class="page hide" id="profile">
            <h4 class="headline">My Account</h4>
            <div class="flex-row">
                <img src="assets/img/NoImage.png" alt="" class="profile-picture">
                <span class="profile-name">{{fullName}}</span>
                <span class="status" id="status"><i class="fa fa-circle" [ngClass]="[ isOnline ? 'online' : 'offline']" id="status-dot"></i>Active</span>
            </div>
            <p class="profile-text">
                Here can you see your profile or others profile.
            </p>
            <div class="dropdown" id="about"><span class="dropdown-group"><i class="fa fa-user"></i>About</span><i class="fa fa-angle-down"></i></div>
            <div class="dropdown-box" id="about-box">
                <div class="box-group">
                    <label>Name</label>
                    <span class="group-text">{{fullName}}</span>
                </div>
                <div class="box-group">
                    <label>Email</label>
                    <span class="group-text">{{email}}</span>
                </div>
                <div class="box-group">
                    <label>Time</label>
                    <span class="group-text">{{time}}</span>
                </div>
                <div class="box-group">
                    <label>Location</label>
                    <span class="group-text">{{location}}</span>
                </div>
            </div>

            <div class="dropdown" id="files"><span class="dropdown-group"><i class="fa fa-paperclip"></i>Attached Files</span><i class="fa fa-angle-down"></i></div>
            <div class="dropdown-box" id="files-box"></div>
        </div>
        <div class="page hide" id="update">
            <h4 class="headline">Update Account</h4>
            <p>
                Here can you update your profile.
            </p>

        </div>
    </aside>
    <main class="chat-window">
        <div class="chat-header">
            <section class="header-profile">
                <img src="assets/img/NoImage.png" />
                <span class="profile-name">Firstname Lastname</span>
            </section>
            <ul class="header-menu">
                <li class="menu-item"><i class="fa fa-search"></i></li>
                <li class="menu-item"><i class="fa fa-phone"></i></li>
                <li class="menu-item"><i class="fa fa-camera"></i></li>
                <li class="menu-item"><i class="fa fa-user"></i></li>
                <li class="menu-item"><i class="fa fa-ellipsis-h"></i></li>
            </ul>
        </div>
        <div class="chat-body" id="chatBody">
            <!--<span class="chat-item">
                <section class="message">
                    This is the message that will be shown in the chat window
                </section>
                <section class="message-from">
                    <div class="message-info">
                        <img src="assets/img/NoImage.png" />
                        <span class="message-name">Firstname Lastname</span>
                    </div>
                    <span class="time"><i class="fa fa-clock-o"></i>09:15</span>
                </section>
            </span>-->
        </div>
        <div class="chat-footer">
            <form #myform="ngForm">
                <input type="text" ngModel name="message" id="message" class="form-control" placeholder="Enter message..." [value]="message" />
                <button class="btn btn-emoji fa fa-smile-o"></button>
                <button class="btn btn-attachment fa fa-paperclip"></button>
                <button type="submit" class="btn btn-send fa fa-paper-plane" (click)="sendMessage(myform)"></button>
            </form>
        </div>
    </main>
</div>