<div class="container flex-center">
    <div class="login-box">
        <section class="login-header">
            <div class="header-group">
                <i class="fa fa-comments"></i><span class="app-name">TecTalk</span>
            </div>
            <h4>Sign up</h4>
            <p class="header-text">Get your TecTalk account now.</p>
        </section>
        <section class="login-body">
            <form #myform="ngForm">
                <div class="form-group">
                    <div class="label-group">
                        <label for="">Email</label>
                        <span class="msg">{{emailMessage}}</span>
                    </div>

                    <div class="input-group">
                        <span class="input-icon"><i class="fa fa-envelope"></i></span>
                        <input type="text" id="email" ngModel name="email" class="form-control" (blur)="checkEmail(myform)" placeholder="Enter Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Username</label>
                    <div class="input-group">
                        <span class="input-icon"><i class="fa fa-user"></i></span>
                        <input type="text" id="username" ngModel name="username" class="form-control" placeholder="Enter Username" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label-group">
                        <label for="">Password</label>
                        <span>{{pswMessage1}}</span>
                    </div>

                    <div class="input-group">
                        <span class="input-icon"><i class="fa fa-lock"></i></span>
                        <input type="password" id="pass1" ngModel name="pass1" class="form-control" (blur)="checkPassword1(myform)" placeholder="Enter Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label-group">
                        <label for="">Re-enter Password</label>
                        <span>{{pswMessage2}}</span>
                    </div>

                    <div class="input-group">
                        <span class="input-icon"><i class="fa fa-lock"></i></span>
                        <input type="password" id="pass2" ngModel name="pass2" class="form-control" (blur)="checkPassword2(myform)" placeholder="Enter Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-sign-in" (click)="submitHandler(myform)">Sign up</button>
                </div>
            </form>
        </section>
        <section class="login-footer">
            <p class="footer-text">
                By registering you agree to the TecTalk Terms of use
            </p>
        </section>
    </div>
</div>