<div class="container flex-center">
    <div class="login-box">
        <section class="login-header">
            <div class="header-group">
                <i class="fa fa-comments"></i><span class="app-name">TecTalk</span>
            </div>
            <h4>Reset Password</h4>
            <p class="header-text">Reset Password with TecTalk</p>
        </section>
        <section class="login-body">
            <form action="#" id="form">
                <p class="info-box">
                    Enter you Email and instructions will be sent to you!
                </p>
                <div class="form-group">
                    <label for="">Email</label>
                    <div class="input-group">
                        <span class="input-icon"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Enter Email">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-sign-in">Reset</button>
                </div>
            </form>
        </section>
        <section class="login-footer">
            <p class="footer-text">
                Remember it ? <a routerLink="/login" class="footer-link">Sigin</a>
            </p>
        </section>
    </div>
</div>